.list {
  position: relative;
  color: white;
  width: 350px;
  /* height: 30px; */
  padding: 0px 5px;
  background-color: #f7e1fa;
  margin: 10px auto;
  outline: 1px solid #c1a2c5;
}
.list:hover {
  box-shadow: 0 1px 2px #808080;
}
.list p {
  padding: 8px;
}
.list p input {
  width: 255px;
  color: #823296;
}
.list p span {
  color: #9c2eb3;
  position: absolute;
  right: 10px;
  padding: 0 3px;
  cursor: pointer;
}
.list p span:hover {
  color: #c14ed8;
}
.list-main {
  height: 410px;
  overflow-y: auto;
}
